<nav>
  <div class="d-flex flex-row justify-content-between align-items-center">
    <div></div>
    <LinkTo @route="index">
      <h1>Plant Shop</h1>
    </LinkTo>
    <LinkTo @route="cart" class="cart-link">
      <i class="fa-solid fa-cart-flatbed"></i>
    </LinkTo>
  </div>
</nav>
<hr>
<main class="container mt-5">
  {{yield}}
</main>
